# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# dotenv file (secrets)
.env

# IDE / editor files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
# virtual env
.venv/
# env and logs
.env
uptime_log.txt
__pycache__/
*.pyc
